BasedOnStyle: Microsoft
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: false
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
ReflowComments: false
InsertNewlineAtEOF: true
