root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{json,yml,yaml,jsonc}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{c,cpp,h,hpp}]
indent_style = space
indent_size = 4

[CMakeLists.txt]
indent_size = 4

[*.cmake]
indent_size = 4
